<html>
   <body>
       <p><h1>Welcome To The AI PLATFORM</h1></p>
      <form action = "http://localhost:8080/role" method = "post">
         <p>Select your role</p>
         <input type="radio" id="datasci" name="role" value="Data Scientist">
        <label for="html">Data Scientist</label><br>
        <input type="radio" id="appdev" name="role" value="End App Developer">
        <label for="css">End App Developer</label><br>
         <!-- <p><input type = "text" name = "nm" /></p> -->
         <!-- <p>Enter Password:</p>
         <p><input type = "password" name = "pass" /></p> -->
         <p><input type = "submit" value = "submit" /></p>
      </form>   
   </body>
</html>