<head>
    <title>Sensor Configurer</title>
  </head>
    <link rel="stylesheet" href="../static/styles/sensorUI.css">
    <body>
    <div class="container">
        <h1>Sensor Configuration</h1>

        <button id = "newtypebutton">Add new sensor type</button>
        <button id = "newinstancebutton">Add new instance of existing sensor type</button>
    </div>
    <div id="newinstance">
        <form action="http://127.0.0.1:5001/new_instance" method="POST">
            <br>
            <label>Sensor Type</label>
            <br>
            <input type="text" name="type">
            <br>

            <br>
            <label>Location</label>
            <br>
            <input type="text" name="location">
            <br>

            <br>
            <label>IP</label>
            <br>
            <input type="text" name="ip">
            <br>

            <br>
            <label>Port</label>
            <br>
            <input type="text" name="port">
            <br>

            <br>
            <input type="submit">
        </form>
    </div>

    <div id="newtype">
        <form action="http://127.0.0.1:5001/new_type" method="post">
            <br>
            <label>Sensor Type</label>
            <br>
            <input type="text" name="type">
            <br>

            <br>
            <label>Model</label>
            <br>
            <input type="text" name="model">
            <br>

            <br>
            <label>Format</label>
            <br>
            <input type="text" name="input_format">
            <br>

            <br>
            <input type="submit">
        </form>
    </div>
    <script>
        const targetDiv1 = document.getElementById("newtype");
        const btn1 = document.getElementById("newtypebutton");
        const targetDiv2 = document.getElementById("newinstance");
        const btn2 = document.getElementById("newinstancebutton");

        btn1.onclick = function () {
            targetDiv2.style.display = "none";
            targetDiv1.style.display = "block";
        };

        
        btn2.onclick = function () {
            targetDiv1.style.display = "none";
            targetDiv2.style.display = "block";
        };
    </script>
    </body>